body{
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}
nav{
  background: black;

}
.navbar ul{
  overflow:auto;
  margin-top: 0;
  margin-left: 0;
  position: sticky;
}
.navbar li{
  float :left;
  list-style: none;
  padding-top: 20px;
  padding-bottom: 10px;
}
.navbar li a{
  text-decoration: none;
  font-size: 25px;
  padding: 10px;
  color: white;
  cursor: pointer;
  display: inline;

}
.navbar li a:hover{
  color: yellow;
}
.item{
  margin-left: 300px;
}
.name{
  color: white;
  margin-left: 10px;
  font-size: 30px
}
.login{
  margin-left: 140px;
  padding-bottom: 20px;
  display: inline;
}
.btn1 {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  cursor: pointer;
}

.btn1:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.signup{
  margin-left: 70px;
  display: inline;

}
.btn2 {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  cursor: pointer;
}

.btn2:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.Vaccinated{
  border:2px solid green;
  border-radius: 5px;
  width: 400px;

  margin-left: 10px;

  display: inline-block;

}
h4{
  padding-left: 30px;
  text-align: center;
  font-family: 'Waterfall', cursive;
}
.vacci{
  padding-top: 40px;
  margin-left: 70px;
}


.fast{
  border:2px solid green;
  border-radius: 5px;
  width: 450px;
  margin-top: 10px;
  margin-left: 10px;
  display: inline-block;


}
h3{
  padding-left: 30px;
  font-family: 'Waterfall', cursive;
  text-align: center;
}
.faster{
  margin-left: 70px;
}
.offer{
  border:2px solid green;
  border-radius: 5px;
  width: 450px;
  margin-top: 10px;
  margin-left: 10px;
  display: inline-block;


}
.offr{
  margin-left: 70px;
}
.bt{

  display: block;
  margin: auto;
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 43px;
  padding: 15px 24px 16px 25px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
